.project-card{
width: 100vw;
border-radius: 20px;
padding: 50px;
color: whitesmoke
}

.project-card img{
    width: 100%;
    border-radius: 20px;
}

.project-card a{
    color: rgba(245, 245, 245, 0.686)
}

.project-card a:hover{
    color: rgb(206, 60, 206);
}

.project-card p {
    font-size: 30px;
    color: rgba(245, 245, 245, 0.77);
}