/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url('assets/fonts/CentraNo2-Bold-BF646c26904e7ce.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('assets/fonts/CentraNo2-Medium-BF646c26901ce01.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('assets/fonts/CentraNo2-Book-BF646c2690591ba.ttf');
  font-weight: 400;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: black;
  box-sizing: border-box;
  overflow: x hidden;
  position: relative;
  font-family: 'Centra', sans-serif, !important;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
    height: auto;
	}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p.success {
	color: green;
}

p.danger {
	color: red;
}



/* Navbar */
.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./assets/images/footer-bg.png);
  color: #fff; 
}
.navbar.scrolled {
  padding: 10px 0;
  background-color: black;
} 
.navbar-brand {
  display: flex;
  align-items: center;
  width: 9%;
}
.navbar-brand img {
  width: 100%;
  display: flex;
  margin: 0 auto;
  top: 10px;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-nav {
  color: white !important;
}
.navbar-nav .nav-item{
  padding: 0 20px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #fff !important;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.navbar-nav .nav-item .nav-link.active  {
  color: #fff !important;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Header */
.header {
  margin-top: 0;
  padding: 260px 0 100px 0;  
  background-image: url('./assets/images/banner-bg.png'); 
  /* background-position: top center; */
  background-size: cover; 
  background-repeat: no-repeat;
  height: max-content;
  height: auto;
  width: 100vw;
  text-align: center;
}
.header .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
/* About Me */
#about {
  margin-top: 0;
  padding: 200px 0 260px 0;  background-image: url('./assets/images/color-sharp.png'); 
  background-position: top center;
  background-size: cover; 
  background-repeat: no-repeat;
  height: max-content;
  height: auto;
  width: 100vw;
  text-align: center;
}
.about img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}
#about h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
#about p {
  font-weight: 400;
  font-size: 18px;
  color: #B8B8B8;
  letter-spacing: 0.8px;
  margin: 30px 50px 30px 50px;
  text-align: center;
}
#about button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 28px;
  font-size: 18px;
  margin: 30px 50px 30px 90px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
#about button span {
  z-index: 1;
}
#about button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
/* Portfolio */
.portfolio {
  margin-top: 20px;
  padding: 260px 0 260px 0;  
  background-image: url('./assets/images/color-sharp2.png'); 
  background-position: top center;
  background-size: cover; 
  background-repeat: no-repeat;
  height: max-content;
  height: auto;
  width: 100vw;
  text-align: center;
  display: flexbox;
}
.project-card {
  margin: 20px 0 90px 0;
  height: auto;
  text-align: center;
  padding: 50px;
}
.project-card img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  }
/* Contact */ 
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 100px 0 200px 0;
  text-align: center;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  border-radius: 10px;
  margin-top: 25px;
  border: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact form button:hover {
  background-color: #992e97ae;
}
/* Resume */
.resume {
  margin-top: 0;
  padding: 200px 0 300px 0;  
  background-image: url('./assets/images/color-sharp.png'); 
  background-position: top center;
  background-size: cover; 
  background-repeat: no-repeat;
  height: max-content;
  height: auto;
  width: 100vw;
  text-align: center;
  color: white;
}
.resume h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 50px;
}

.resume a {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 28px;
  font-size: 18px;
  margin: 30px 50px 30px 50px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
 
}
.resume p {
  font-weight: 400;
  font-size: 18px;
  color: #d2cfcf;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 20px;
}
.resume .proficiencies {
  margin: 50px;
  text-align: center;
} 

.resume accordion{
  margin: 20px 10px;
}

.resume .proficiencies .accordion-item {
  margin: 50px;
  display: block;
  justify-content: center;
  text-align: center;
  background: transparent; 
  color: white;
  border-color: transparent;
  border-radius: 10px;
  width: auto;
}
.resume .proficiencies .accordion-button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  font-size: large; 
  font-weight: 600;
  color: white;
  border-radius: 7px;
  position: relative;
}

.resume .proficiencies .accordion-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resume .proficiencies .accordion-body li {
  font-weight: 400;
  font-size: 20px;
  color: #d2cfcf;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 20px;
}

/* Footer */ 
.footer {
  padding: 10px 20px;
  background-image: url('./assets/images/footer-bg.png'); 
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
  height: max-content;
  width: 100vw;
  text-align: center;
  color: white;
  bottom: 0;
}
.footer img {
  width: 20%;
  display: flex;
  margin: 0 ;
  top: 10px;  
}
.footer p {
  font-weight: 400;
  font-size: 18px;
  color: #b8b8b8;
  letter-spacing: 0.8px;
  margin: 0;
  text-align: center;
}
.footer .social-icon {
  display: inline-block;
  margin-left: 14px;
  margin-top: 10px;
}
.footer .social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .social-icon a::before{
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.footer .social-icon a:hover::before {
  transform: scale(1);
}
.footer .social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .footer{
    padding-bottom: 100px;
  }
  .footer p{
    font-size: 16px;
    margin: 10px;
  }
  .footer img {
    width: 20%;
  }
  
}
