*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary-dark: #0d0d21;
    --color-primary-light: rgba(45, 9, 62, 0.317);
    --color-accent-pink: #AA367C;
    --color-accent-purple: #4A2FBD;
    --color-white: #fff;
    --gradient-primary-translucent: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --spacing-xl: 50px;
    --spacing-xxl: 100px;
    --transition-speed: 0.3s;
    --transition-timing-function: ease-in-out;
}

body {
    min-height: 100vh; 
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; 
    font-family: 'Sansation', sans-serif; 
    color: #fff; 
    background-color: #0d0d21; 
    overflow-x: hidden; 
        font-family: "Sansation", sans-serif;;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit; 
}

p, h1, h2, h3, h4, h5, h6, button {
    overflow-wrap: break-word; 
        font-family: "Sansation", sans-serif;;

}

a {
    text-decoration: none;
    color: inherit; 
}